.booksForm {
    display: flex;
    font-family: -apple-system, 'Raleway', sans-serif;
    margin: 2rem 25%;
    background-color: #bdb76b;
    border-radius: 25px;
    padding: 2rem;
    flex-direction: column;
    width: 50%;
}

.formTitle {
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #5b593f;
}

.inputDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textForm {
    margin: 0 1rem;
}

.inputForm {
    padding: 0.3rem;
    border: none;
    margin: 0.5rem;
    border-radius: 5px;
    width: 80%;
    background-color: rgb(249, 229, 203);
}

.buttonForm {
    margin-top: 1rem;
    width: fit-content;
    align-self: center;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 1rem;
    transition: 300ms;
    border: none;
    font-weight: 700;
    color: #5b593f;
    background-color: rgb(249, 229, 203);
}

.buttonForm:hover {
    background-color: rgb(250, 217, 174) ;
    cursor: pointer;
}
